In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('./data_refine/refine-multiple-error-dataset.csv', index_col=0)

df

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
0,180102-021-0101,2018-01-02,21,101,0.120,0.220,0.368,0.2,0.3,19.993,15.598,680,0.041,3,0
1,180102-021-0101,2018-01-02,21,101,0.106,0.216,0.357,0.2,0.3,18.778,14.997,678,0.043,3,0
2,180102-021-0101,2018-01-02,21,101,0.085,0.222,0.371,0.2,0.3,20.330,15.835,680,0.043,3,0
3,180102-021-0101,2018-01-02,21,101,0.080,0.208,0.349,0.2,0.3,18.382,14.841,324,0.000,3,0
4,180102-021-0101,2018-01-02,21,101,0.106,0.214,0.360,0.2,0.3,18.961,15.028,677,0.043,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,2018-06-06,22,101,0.192,0.292,0.408,0.2,0.3,40.344,30.042,341,0.000,16,0
8627,180606-022-0101,2018-06-06,22,101,0.188,0.294,0.416,0.2,0.3,38.394,31.105,341,0.000,16,0
8628,180606-022-0101,2018-06-06,22,101,0.194,0.294,0.411,0.2,0.3,35.061,31.599,341,0.000,16,0
8629,180606-022-0101,2018-06-06,22,101,0.185,0.296,0.416,0.2,0.3,31.495,32.699,340,0.000,16,0
8630,180606-022-0101,2018-06-06,22,101,0.184,0.290,0.403,0.2,0.3,41.864,29.721,341,0.000,16,0

In [6]:
df['Die_Number'].value_counts()

101    3252
102    2416
103    1850
104     513
105     400
106     200
Name: Die_Number, dtype: int64

In [11]:
die_list = df['Die_Number'].unique()

die_list

array([101, 102, 103, 104, 105, 106])

# Die_Number 별로 데이터프레임 분리
##### -> df_die_num_101
##### -> df_die_num_102
##### -> df_die_num_103
##### -> df_die_num_104
##### -> df_die_num_105
##### -> df_die_num_106

In [14]:
# Die_Number로 여러개의 데이터프레임으로 쪼갬

for die_num in die_list.tolist():
    result = dict(list(df.groupby('Die_Number')))
    globals()['df_die_num_{0}'.format(die_num)] = result[die_num]

In [15]:
df_die_num_101

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
0,180102-021-0101,2018-01-02,21,101,0.120,0.220,0.368,0.2,0.3,19.993,15.598,680,0.041,3,0
1,180102-021-0101,2018-01-02,21,101,0.106,0.216,0.357,0.2,0.3,18.778,14.997,678,0.043,3,0
2,180102-021-0101,2018-01-02,21,101,0.085,0.222,0.371,0.2,0.3,20.330,15.835,680,0.043,3,0
3,180102-021-0101,2018-01-02,21,101,0.080,0.208,0.349,0.2,0.3,18.382,14.841,324,0.000,3,0
4,180102-021-0101,2018-01-02,21,101,0.106,0.214,0.360,0.2,0.3,18.961,15.028,677,0.043,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,2018-06-06,22,101,0.192,0.292,0.408,0.2,0.3,40.344,30.042,341,0.000,16,0
8627,180606-022-0101,2018-06-06,22,101,0.188,0.294,0.416,0.2,0.3,38.394,31.105,341,0.000,16,0
8628,180606-022-0101,2018-06-06,22,101,0.194,0.294,0.411,0.2,0.3,35.061,31.599,341,0.000,16,0
8629,180606-022-0101,2018-06-06,22,101,0.185,0.296,0.416,0.2,0.3,31.495,32.699,340,0.000,16,0
8630,180606-022-0101,2018-06-06,22,101,0.184,0.290,0.403,0.2,0.3,41.864,29.721,341,0.000,16,0

In [16]:
df_die_num_102

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
50,180102-021-0102,2018-01-02,21,102,0.093,0.226,0.379,0.2,0.3,20.442,17.401,680,0.043,3,0
51,180102-021-0102,2018-01-02,21,102,0.094,0.230,0.376,0.2,0.3,20.446,17.301,680,0.041,3,0
52,180102-021-0102,2018-01-02,21,102,0.096,0.230,0.379,0.2,0.3,20.428,17.201,679,0.041,3,0
53,180102-021-0102,2018-01-02,21,102,0.096,0.228,0.379,0.2,0.3,20.402,17.207,680,0.043,3,0
54,180102-021-0102,2018-01-02,21,102,0.099,0.228,0.376,0.2,0.3,20.572,17.202,680,0.041,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8533,180605-022-0102,2018-06-05,22,102,0.188,0.288,0.408,0.2,0.3,43.850,28.125,339,0.000,12,0
8534,180605-022-0102,2018-06-05,22,102,0.190,0.294,0.413,0.2,0.3,43.772,28.576,340,0.000,12,0
8535,180605-022-0102,2018-06-05,22,102,0.192,0.292,0.411,0.2,0.3,41.162,28.602,340,0.000,12,0
8536,180605-022-0102,2018-06-05,22,102,0.185,0.294,0.413,0.2,0.3,40.942,28.710,339,0.000,12,0
8537,180605-022-0102,2018-06-05,22,102,0.190,0.294,0.403,0.2,0.3,43.788,28.199,339,0.000,12,0

In [17]:
df_die_num_103

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
100,180102-021-0103,2018-01-02,21,103,0.090,0.234,0.371,0.2,0.3,21.326,17.307,679,0.041,5,0
101,180102-021-0103,2018-01-02,21,103,0.093,0.228,0.376,0.2,0.3,21.326,17.307,679,0.041,5,0
102,180102-021-0103,2018-01-02,21,103,0.094,0.232,0.373,0.2,0.3,20.796,17.401,678,0.043,5,0
103,180102-021-0103,2018-01-02,21,103,0.094,0.230,0.379,0.2,0.3,20.905,17.291,679,0.041,5,0
104,180102-021-0103,2018-01-02,21,103,0.094,0.232,0.376,0.2,0.3,20.902,17.298,680,0.045,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8583,180605-022-0103,2018-06-05,22,103,0.182,0.292,0.403,0.2,0.3,57.063,26.701,340,0.000,68,0
8584,180605-022-0103,2018-06-05,22,103,0.190,0.292,0.416,0.2,0.3,49.402,27.604,339,0.000,68,0
8585,180605-022-0103,2018-06-05,22,103,0.190,0.296,0.408,0.2,0.3,49.449,27.697,339,0.000,68,0
8586,180605-022-0103,2018-06-05,22,103,0.182,0.290,0.395,0.2,0.3,49.411,27.696,340,0.000,68,0
8587,180605-022-0103,2018-06-05,22,103,0.184,0.292,0.405,0.2,0.3,49.685,27.586,339,0.000,68,0

In [18]:
df_die_num_104

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
150,180102-021-0104,2018-01-02,21,104,0.092,0.229,0.373,0.2,0.3,20.993,19.150,680,0.041,8,0
151,180102-021-0104,2018-01-02,21,104,0.092,0.226,0.371,0.2,0.3,25.333,16.270,680,0.041,8,0
152,180102-021-0104,2018-01-02,21,104,0.092,0.229,0.373,0.2,0.3,25.744,16.029,680,0.041,8,0
153,180102-021-0104,2018-01-02,21,104,0.094,0.228,0.373,0.2,0.3,21.046,19.372,679,0.044,8,0
154,180102-021-0104,2018-01-02,21,104,0.092,0.224,0.370,0.2,0.3,24.807,16.429,680,0.041,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7033,180503-022-0104,2018-05-03,22,104,0.190,0.226,0.302,0.2,0.3,25.078,21.953,707,0.038,0,1
7034,180503-022-0104,2018-05-03,22,104,0.190,0.226,0.302,0.2,0.3,25.176,21.907,707,0.038,0,1
7035,180503-022-0104,2018-05-03,22,104,0.190,0.224,0.304,0.2,0.3,25.176,21.907,707,0.038,0,1
7036,180503-022-0104,2018-05-03,22,104,0.188,0.224,0.310,0.2,0.3,25.176,21.907,706,0.036,0,1
7037,180503-022-0104,2018-05-03,22,104,0.181,0.224,0.300,0.2,0.3,25.176,21.907,707,0.038,0,1

In [19]:
df_die_num_105

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
200,180102-021-0105,2018-01-02,21,105,0.094,0.232,0.376,0.2,0.3,33.072,13.102,677,0.041,1,0
201,180102-021-0105,2018-01-02,21,105,0.094,0.232,0.384,0.2,0.3,32.237,13.256,677,0.041,1,0
202,180102-021-0105,2018-01-02,21,105,0.094,0.230,0.373,0.2,0.3,32.202,13.295,676,0.044,1,0
203,180102-021-0105,2018-01-02,21,105,0.093,0.232,0.371,0.2,0.3,33.471,12.959,676,0.041,1,0
204,180102-021-0105,2018-01-02,21,105,0.094,0.227,0.373,0.2,0.3,33.877,12.812,676,0.042,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,180105-022-0105,2018-01-05,22,105,0.085,0.221,0.365,0.2,0.3,8.014,18.607,678,0.041,0,0
2109,180105-022-0105,2018-01-05,22,105,0.090,0.224,0.368,0.2,0.3,8.055,18.699,677,0.041,0,0
2110,180105-022-0105,2018-01-05,22,105,0.091,0.226,0.371,0.2,0.3,8.086,18.699,678,0.041,0,0
2111,180105-022-0105,2018-01-05,22,105,0.094,0.228,0.387,0.2,0.3,8.097,18.698,678,0.043,0,0
2112,180105-022-0105,2018-01-05,22,105,0.092,0.222,0.373,0.2,0.3,8.054,18.699,679,0.043,0,0

In [20]:
df_die_num_106

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
713,180103-021-0106,2018-01-03,21,106,0.098,0.232,0.376,0.2,0.3,9.641,15.403,678,0.042,2,0
714,180103-021-0106,2018-01-03,21,106,0.096,0.229,0.373,0.2,0.3,9.728,15.402,678,0.041,2,0
715,180103-021-0106,2018-01-03,21,106,0.096,0.228,0.376,0.2,0.3,9.581,15.448,678,0.041,2,0
716,180103-021-0106,2018-01-03,21,106,0.096,0.228,0.376,0.2,0.3,9.186,15.601,679,0.041,2,0
717,180103-021-0106,2018-01-03,21,106,0.102,0.228,0.376,0.2,0.3,9.297,15.506,679,0.041,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2158,180105-022-0106,2018-01-05,22,106,0.090,0.232,0.371,0.2,0.3,8.605,18.068,678,0.041,2,0
2159,180105-022-0106,2018-01-05,22,106,0.112,0.220,0.370,0.2,0.3,9.478,17.893,678,0.041,2,0
2160,180105-022-0106,2018-01-05,22,106,0.091,0.232,0.368,0.2,0.3,10.069,17.702,677,0.042,2,0
2161,180105-022-0106,2018-01-05,22,106,0.092,0.234,0.371,0.2,0.3,9.987,17.705,679,0.041,2,0
2162,180105-022-0106,2018-01-05,22,106,0.094,0.226,0.368,0.2,0.3,8.950,17.907,678,0.043,2,0

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [24]:
# X, Y 데이터를 추출할 columns 이름들 추출
X_columns = df.columns[4:13]

In [30]:
X_columns

Index(['Injection_Velocity_1', 'Injection_Velocity_2', 'Injection_Velocity_3',
       'Spray_Time_1', 'Spray_Time_2', 'Humidity', 'Temperature',
       'Casting_Pressure', 'Pressure_Increase_Time'],
      dtype='object')

In [25]:
# 데이터 셋 만들기
for die_num in die_list.tolist():
    globals()['X_{}'.format(die_num)] = globals()['df_die_num_{}'.format(die_num)].drop(columns = X_columns)
    globals()['Y_Short_Shot_{}'.format(die_num)] = globals()['df_die_num_{}'.format(die_num)].drop(columns = ['Short_Shot'])
    globals()['Y_Error_{}'.format(die_num)] = globals()['df_die_num_{}'.format(die_num)].drop(columns = ['Error'])

In [26]:
# 각 die 넘버에 해당하는 데이터셋 split
for die_num in die_list.tolist():
    tr_x, te_x, tr_y_Short, te_y_Short = \
        train_test_split(globals()['X_{}'.format(die_num)], globals()['Y_Short_Shot_{}'.format(die_num)], test_size = 0.3, random_state=1234)

    tr_y_error, te_y_error = \
        train_test_split(globals()['Y_Error_{}'.format(die_num)], test_size=0.3, random_state=1234)

    globals()['tr_x_{}'.format(die_num)] = tr_x
    globals()['te_x_{}'.format(die_num)] = te_x
    globals()['tr_y_Short_{}'.format(die_num)] = tr_y_Short
    globals()['te_y_Short_{}'.format(die_num)] = te_y_Short

    globals()['tr_y_Error_{}'.format(die_num)] = tr_y_error
    globals()['te_y_Error_{}'.format(die_num)] = te_y_error

In [29]:
tr_y_Short_101

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Error
3836,180226-022-0101,2018-02-26,22,101,0.178,0.276,0.334,0.2,0.3,17.526,12.084,678,0.039,0
7297,180508-021-0101,2018-05-08,21,101,0.194,0.222,0.304,0.1,0.3,33.036,27.206,706,0.038,0
2398,180212-021-0101,2018-02-12,21,101,0.086,0.214,0.360,0.1,0.2,16.413,12.599,678,0.043,1
6302,180406-021-0101,2018-04-06,21,101,0.146,0.262,0.344,0.1,0.3,35.301,23.632,704,0.038,1
4859,180328-021-0101,2018-03-28,21,101,0.164,0.334,0.520,0.2,0.3,35.372,19.598,706,0.037,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,180219-022-0101,2018-02-19,22,101,0.192,0.284,0.333,0.1,0.2,8.096,18.003,680,0.040,1
8304,180605-021-0101,2018-06-05,21,101,0.181,0.290,0.400,0.2,0.3,59.961,25.501,340,0.000,0
4168,180228-022-0101,2018-02-28,22,101,0.186,0.278,0.336,0.2,0.3,31.547,13.099,678,0.042,0
2673,180220-021-0101,2018-02-20,21,101,0.160,0.268,0.310,0.2,0.2,19.271,13.898,679,0.041,0
7642,180531-022-0101,2018-05-31,22,101,0.139,0.226,0.341,0.3,0.3,34.115,27.647,704,0.043,0

In [27]:
# 각 Die_Number 에 해당하는 데이터셋으로 학습

accuracy_result = {
    'Die_Num' : [],
    'accuracy_Short' : [],
    'accuracy_Error' : [],
}

for die_num in die_list.tolist():
    # 1. die_num 에 해당하는 dt_c 인스턴스 생성
    globals()['dt_c_Short_{}'.format(die_num)] = DecisionTreeClassifier()
    globals()['dt_c_Error_{}'.format(die_num)] = DecisionTreeClassifier()

    # 2. dt_c 로 학습 진행
    globals()['dt_c_Short_{}'.format(die_num)].fit(globals()['tr_x_{}'.format(die_num)], globals()['tr_y_Short_{}'.format(die_num)])
    globals()['dt_c_Error_{}'.format(die_num)].fit(globals()['tr_x_{}'.format(die_num)], globals()['tr_y_Error_{}'.format(die_num)])

    # 3. 학습한 결과에 대한 예측값 저장
    locals()['predict_Short_{}'.format(die_num)] = \
        globals()['dt_c_Short_{}'.format(die_num)].predict(globals()['te_x_{}'.format(die_num)])

    locals()['predict_Error_{}'.format(die_num)] = \
        globals()['dt_c_Error_{}'.format(die_num)].predict(globals()['te_x_{}'.format(die_num)])

    #4. 예측값에 대한 정확도 계산
    locals()['accuracy_Short_{}'.format(die_num)] = \
        globals()['dt_c_Short_{}'.format(die_num)].score(globals()['te_x_{}'.format(die_num)], globals()['te_y_Short_{}'.format(die_num)])

    locals()['accuracy_Error_{}'.format(die_num)] = \
        globals()['dt_c_Error_{}'.format(die_num)].score(globals()['te_x_{}'.format(die_num)], globals()['te_y_Error_{}'.format(die_num)])

    # 4. 예측값, 정확도 결과를 데이터프레임형태로 저장
    accuracy_result['Die_Num'].append(die_num)
    accuracy_result['accuracy_Short'].append(locals()['accuracy_Short_{}'.format(die_num)])
    accuracy_result['accuracy_Error'].append(locals()['accuracy_Error_{}'.format(die_num)])

ValueError: could not convert string to float: '180226-022-0101'