In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data_refine/refine-multiple-error-dataset.csv', index_col=0)

df

,LOT,Date,Equipment,Die_Number,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time,Short_Shot,Error
0,180102-021-0101,2018-01-02,21,101,0.120,0.220,0.368,0.2,0.3,19.993,15.598,680,0.041,3,0
1,180102-021-0101,2018-01-02,21,101,0.106,0.216,0.357,0.2,0.3,18.778,14.997,678,0.043,3,0
2,180102-021-0101,2018-01-02,21,101,0.085,0.222,0.371,0.2,0.3,20.330,15.835,680,0.043,3,0
3,180102-021-0101,2018-01-02,21,101,0.080,0.208,0.349,0.2,0.3,18.382,14.841,324,0.000,3,0
4,180102-021-0101,2018-01-02,21,101,0.106,0.214,0.360,0.2,0.3,18.961,15.028,677,0.043,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,2018-06-06,22,101,0.192,0.292,0.408,0.2,0.3,40.344,30.042,341,0.000,16,0
8627,180606-022-0101,2018-06-06,22,101,0.188,0.294,0.416,0.2,0.3,38.394,31.105,341,0.000,16,0
8628,180606-022-0101,2018-06-06,22,101,0.194,0.294,0.411,0.2,0.3,35.061,31.599,341,0.000,16,0
8629,180606-022-0101,2018-06-06,22,101,0.185,0.296,0.416,0.2,0.3,31.495,32.699,340,0.000,16,0
8630,180606-022-0101,2018-06-06,22,101,0.184,0.290,0.403,0.2,0.3,41.864,29.721,341,0.000,16,0

In [3]:
# IQR 이상치 제거 함수
def outlier_test(x):
    Q1=x.quantile(1/4)
    Q3=x.quantile(3/4)
    IQR=Q3-Q1
    LL=Q1-(1.5*IQR)
    UU=Q3+(1.5*IQR)
    outlier=(x < LL) | (x > UU)
    return outlier

In [9]:
df_x_value = df.copy()

df_x_value = df_x_value.drop(columns = df.columns[1:4].tolist())
df_x_value = df_x_value.drop(columns = df.columns[13:].tolist())

df_x_value

,LOT,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time
0,180102-021-0101,0.120,0.220,0.368,0.2,0.3,19.993,15.598,680,0.041
1,180102-021-0101,0.106,0.216,0.357,0.2,0.3,18.778,14.997,678,0.043
2,180102-021-0101,0.085,0.222,0.371,0.2,0.3,20.330,15.835,680,0.043
3,180102-021-0101,0.080,0.208,0.349,0.2,0.3,18.382,14.841,324,0.000
4,180102-021-0101,0.106,0.214,0.360,0.2,0.3,18.961,15.028,677,0.043
...,...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.192,0.292,0.408,0.2,0.3,40.344,30.042,341,0.000
8627,180606-022-0101,0.188,0.294,0.416,0.2,0.3,38.394,31.105,341,0.000
8628,180606-022-0101,0.194,0.294,0.411,0.2,0.3,35.061,31.599,341,0.000
8629,180606-022-0101,0.185,0.296,0.416,0.2,0.3,31.495,32.699,340,0.000
8630,180606-022-0101,0.184,0.290,0.403,0.2,0.3,41.864,29.721,341,0.000

In [10]:
# 아웃라이어 없애는 작업
df_outlier_TF = df_x_value.groupby('LOT').apply(outlier_test)

df_outlier_TF

/Users/isang-yun/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,LOT,Pressure_Increase_Time,Spray_Time_1,Spray_Time_2,Temperature
0,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,True,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8626,False,False,False,False,False,False,False,False,False,False
8627,False,False,False,False,False,False,False,False,False,False
8628,False,False,False,False,False,False,False,False,False,False
8629,False,False,False,False,False,False,False,False,False,False
8630,False,False,False,False,False,False,False,False,False,False

In [11]:
# 공정조건별로 이상치 몇개인지 파악

df_outlier_TF.sum()

Casting_Pressure          807
Humidity                  248
Injection_Velocity_1      214
Injection_Velocity_2      244
Injection_Velocity_3      234
LOT                         0
Pressure_Increase_Time    382
Spray_Time_1               35
Spray_Time_2               22
Temperature               312
dtype: int64

In [15]:
# 1. 먼저 이상치 있으면 그냥 버리는 작업 진행

df_refine = df_x_value[df_outlier_TF.sum(axis = 'columns') == 0]

df_refine

,LOT,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Spray_Time_1,Spray_Time_2,Humidity,Temperature,Casting_Pressure,Pressure_Increase_Time
0,180102-021-0101,0.120,0.220,0.368,0.2,0.3,19.993,15.598,680,0.041
2,180102-021-0101,0.085,0.222,0.371,0.2,0.3,20.330,15.835,680,0.043
4,180102-021-0101,0.106,0.214,0.360,0.2,0.3,18.961,15.028,677,0.043
6,180102-021-0101,0.118,0.218,0.368,0.2,0.3,20.115,15.614,679,0.041
7,180102-021-0101,0.098,0.218,0.368,0.2,0.3,19.993,15.598,679,0.043
...,...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.192,0.292,0.408,0.2,0.3,40.344,30.042,341,0.000
8627,180606-022-0101,0.188,0.294,0.416,0.2,0.3,38.394,31.105,341,0.000
8628,180606-022-0101,0.194,0.294,0.411,0.2,0.3,35.061,31.599,341,0.000
8629,180606-022-0101,0.185,0.296,0.416,0.2,0.3,31.495,32.699,340,0.000
8630,180606-022-0101,0.184,0.290,0.403,0.2,0.3,41.864,29.721,341,0.000