In [1]:
import pandas as pd

In [6]:
# 이상치 제거 함수
def outlier_TF(x):
    Q1 = x.quantile(1/4)
    Q3 = x.quantile(3/4)
    iqr = Q3 - Q1
    LL = Q1 - (iqr * 1.5)
    UL = Q3 + (iqr * 1.5)
    outlier = (UL < x) | (LL > x)
    return outlier

In [34]:
df_normal = pd.read_csv('Nomalization.csv')

df_normal

,LOT,Unnamed: 0,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Humidity,Temperature,Casting_Pressure
0,180102-021-0101,0.000000,0.958333,0.777778,0.633333,0.767785,0.729073,1.000000
1,180102-021-0101,0.020408,0.666667,0.555556,0.266667,0.224161,0.188119,0.994695
2,180102-021-0101,0.040816,0.229167,0.888889,0.733333,0.918568,0.942394,1.000000
3,180102-021-0101,0.061224,0.125000,0.111111,0.000000,0.046980,0.047705,0.055703
4,180102-021-0101,0.081633,0.666667,0.444444,0.366667,0.306040,0.216022,0.992042
...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.904762,0.777778,0.400000,0.500000,0.777607,0.135152,0.714286
8627,180606-022-0101,0.928571,0.555556,0.600000,0.690476,0.610940,0.457273,0.714286
8628,180606-022-0101,0.952381,0.888889,0.600000,0.571429,0.326068,0.606970,0.714286
8629,180606-022-0101,0.976190,0.388889,0.800000,0.690476,0.021282,0.940303,0.571429
8630,180606-022-0101,1.000000,0.333333,0.200000,0.380952,0.907521,0.037879,0.714286

In [29]:
df_z = pd.read_csv('z-score.csv')

df_z

,LOT,Casting_Pressure,Date,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Temperature,Short_Shot,ERROR
0,180102-021-0101,0.305904,NaN,0.486005,1.030504,0.474189,0.467605,0.639929,3,0
1,180102-021-0101,0.285646,NaN,-1.349315,-0.039752,-0.403938,-1.110204,-1.061377,3,0
2,180102-021-0101,0.305904,NaN,0.995061,-1.645138,0.913252,0.897917,1.310827,3,0
3,180102-021-0101,-3.300120,NaN,-1.947494,-2.027372,-2.160193,-2.257702,-1.502981,3,0
4,180102-021-0101,0.275516,NaN,-1.072884,-0.039752,-0.843002,-0.679892,-0.973623,3,0
...,...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.563962,NaN,0.891179,0.861035,-0.685014,-0.679254,-0.989011,16,0
8627,180606-022-0101,0.563962,NaN,0.384885,-0.058828,0.070258,0.302525,-0.039410,16,0
8628,180606-022-0101,0.563962,NaN,-0.480486,1.320967,0.070258,-0.311087,0.401891,16,0
8629,180606-022-0101,-0.368745,NaN,-1.406354,-0.748726,0.825530,0.302525,1.384545,16,0
8630,180606-022-0101,0.563962,NaN,1.285828,-0.978692,-1.440286,-1.292866,-1.275768,16,0

# 1. 표준화데이터 이상치 제거

In [25]:
df_z = df_z.drop(columns = ['Date'])

df_z

KeyError: "['Date'] not found in axis"

In [7]:
##
df_z_X = df_z.drop(columns = ['Short_Shot', 'ERROR'])
df_z_Y = df_z[['Short_Shot', 'ERROR']]

In [8]:
df_z_X

,LOT,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Temperature
0,180102-021-0101,0.305904,0.486005,1.030504,0.474189,0.467605,0.639929
1,180102-021-0101,0.285646,-1.349315,-0.039752,-0.403938,-1.110204,-1.061377
2,180102-021-0101,0.305904,0.995061,-1.645138,0.913252,0.897917,1.310827
3,180102-021-0101,-3.300120,-1.947494,-2.027372,-2.160193,-2.257702,-1.502981
4,180102-021-0101,0.275516,-1.072884,-0.039752,-0.843002,-0.679892,-0.973623
...,...,...,...,...,...,...,...
8626,180606-022-0101,0.563962,0.891179,0.861035,-0.685014,-0.679254,-0.989011
8627,180606-022-0101,0.563962,0.384885,-0.058828,0.070258,0.302525,-0.039410
8628,180606-022-0101,0.563962,-0.480486,1.320967,0.070258,-0.311087,0.401891
8629,180606-022-0101,-0.368745,-1.406354,-0.748726,0.825530,0.302525,1.384545
8630,180606-022-0101,0.563962,1.285828,-0.978692,-1.440286,-1.292866,-1.275768

In [26]:
df_z_Y

      Short_Shot  ERROR
0              3      0
1              3      0
2              3      0
3              3      0
4              3      0
...          ...    ...
8626          16      0
8627          16      0
8628          16      0
8629          16      0
8630          16      0

[8631 rows x 2 columns]

In [11]:
## df_z_X 를 이상치 데이터프레임을 하나 만든다.

df_outlier_TF_z = df_z_X.groupby('LOT').apply(outlier_TF)

/Users/isang-yun/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

In [14]:
df_outlier_TF_z

,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,LOT,Temperature
0,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
8626,False,False,False,False,False,False,False
8627,False,False,False,False,False,False,False
8628,False,False,False,False,False,False,False
8629,False,False,False,False,False,False,False
8630,False,False,False,False,False,False,False

In [16]:
df_outlier_TF_z.sum(axis = 'columns').value_counts()

0    6892
1    1444
2     223
3      46
4      23
5       2
6       1
dtype: int64

In [18]:
df_outlier_TF_z['Short_Shot'] = False
df_outlier_TF_z['ERROR'] = False

df_outlier_TF_z

,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,LOT,Temperature,Short_Shot,ERROR
0,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
8626,False,False,False,False,False,False,False,False,False
8627,False,False,False,False,False,False,False,False,False
8628,False,False,False,False,False,False,False,False,False
8629,False,False,False,False,False,False,False,False,False
8630,False,False,False,False,False,False,False,False,False

In [20]:
# 한 행에 이상치 개수에 따른 이상치 제거 진행

df_refine_z = df_z[df_outlier_TF_z.sum(axis = 'columns') < 3]

df_refine_z

,LOT,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Temperature,Short_Shot,ERROR
0,180102-021-0101,0.305904,0.486005,1.030504,0.474189,0.467605,0.639929,3,0
1,180102-021-0101,0.285646,-1.349315,-0.039752,-0.403938,-1.110204,-1.061377,3,0
2,180102-021-0101,0.305904,0.995061,-1.645138,0.913252,0.897917,1.310827,3,0
3,180102-021-0101,-3.300120,-1.947494,-2.027372,-2.160193,-2.257702,-1.502981,3,0
4,180102-021-0101,0.275516,-1.072884,-0.039752,-0.843002,-0.679892,-0.973623,3,0
...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.563962,0.891179,0.861035,-0.685014,-0.679254,-0.989011,16,0
8627,180606-022-0101,0.563962,0.384885,-0.058828,0.070258,0.302525,-0.039410,16,0
8628,180606-022-0101,0.563962,-0.480486,1.320967,0.070258,-0.311087,0.401891,16,0
8629,180606-022-0101,-0.368745,-1.406354,-0.748726,0.825530,0.302525,1.384545,16,0
8630,180606-022-0101,0.563962,1.285828,-0.978692,-1.440286,-1.292866,-1.275768,16,0

# 2. 정규화 데이터 이상치 제거

In [35]:
# 원본데이터에 Y 값 붙여서 완전한 df 를 만듬
df_normal = df_normal.drop(columns = ['Unnamed: 0'])
df_normal = pd.concat([df_normal, df_z_Y], axis='columns')

df_normal

,LOT,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Humidity,Temperature,Casting_Pressure,Short_Shot,ERROR
0,180102-021-0101,0.958333,0.777778,0.633333,0.767785,0.729073,1.000000,3,0
1,180102-021-0101,0.666667,0.555556,0.266667,0.224161,0.188119,0.994695,3,0
2,180102-021-0101,0.229167,0.888889,0.733333,0.918568,0.942394,1.000000,3,0
3,180102-021-0101,0.125000,0.111111,0.000000,0.046980,0.047705,0.055703,3,0
4,180102-021-0101,0.666667,0.444444,0.366667,0.306040,0.216022,0.992042,3,0
...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.777778,0.400000,0.500000,0.777607,0.135152,0.714286,16,0
8627,180606-022-0101,0.555556,0.600000,0.690476,0.610940,0.457273,0.714286,16,0
8628,180606-022-0101,0.888889,0.600000,0.571429,0.326068,0.606970,0.714286,16,0
8629,180606-022-0101,0.388889,0.800000,0.690476,0.021282,0.940303,0.571429,16,0
8630,180606-022-0101,0.333333,0.200000,0.380952,0.907521,0.037879,0.714286,16,0

In [36]:
# X, Y 두개로 쪼갬

df_normal_X = df_normal.drop(columns = ['Short_Shot', 'ERROR'])
df_normal_Y = df_normal[['Short_Shot', 'ERROR']]

In [38]:
df_normal_X.head()

,LOT,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Humidity,Temperature,Casting_Pressure
0,180102-021-0101,0.958333,0.777778,0.633333,0.767785,0.729073,1.000000
1,180102-021-0101,0.666667,0.555556,0.266667,0.224161,0.188119,0.994695
2,180102-021-0101,0.229167,0.888889,0.733333,0.918568,0.942394,1.000000
3,180102-021-0101,0.125000,0.111111,0.000000,0.046980,0.047705,0.055703
4,180102-021-0101,0.666667,0.444444,0.366667,0.306040,0.216022,0.992042

In [39]:
df_normal_Y.head()

   Short_Shot  ERROR
0           3      0
1           3      0
2           3      0
3           3      0
4           3      0

In [40]:
# 이상치 함수로 이상치인지 아닌지 파악

df_outlier_TF_normal = df_normal_X.groupby('LOT').apply(outlier_TF)

df_outlier_TF_normal.head()

/Users/isang-yun/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,LOT,Temperature
0,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False

In [41]:
# Y를 붙여서 완전한 Tf 데이터프레임을 하나 만듬
df_outlier_TF_normal['Short_Shot'] = False
df_outlier_TF_normal['ERROR'] = False

df_outlier_TF_normal

,Casting_Pressure,Humidity,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,LOT,Temperature,Short_Shot,ERROR
0,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
8626,False,False,False,False,False,False,False,False,False
8627,False,False,False,False,False,False,False,False,False
8628,False,False,False,False,False,False,False,False,False
8629,False,False,False,False,False,False,False,False,False
8630,False,False,False,False,False,False,False,False,False

In [42]:
df_outlier_TF_normal.sum(axis = 'columns').value_counts()

0    6899
1    1440
2     218
3      48
4      23
5       2
6       1
dtype: int64

In [44]:
df_refine_normal = df_normal[df_outlier_TF_z.sum(axis = 'columns') < 3]

df_refine_normal

,LOT,Injection_Velocity_1,Injection_Velocity_2,Injection_Velocity_3,Humidity,Temperature,Casting_Pressure,Short_Shot,ERROR
0,180102-021-0101,0.958333,0.777778,0.633333,0.767785,0.729073,1.000000,3,0
1,180102-021-0101,0.666667,0.555556,0.266667,0.224161,0.188119,0.994695,3,0
2,180102-021-0101,0.229167,0.888889,0.733333,0.918568,0.942394,1.000000,3,0
3,180102-021-0101,0.125000,0.111111,0.000000,0.046980,0.047705,0.055703,3,0
4,180102-021-0101,0.666667,0.444444,0.366667,0.306040,0.216022,0.992042,3,0
...,...,...,...,...,...,...,...,...,...
8626,180606-022-0101,0.777778,0.400000,0.500000,0.777607,0.135152,0.714286,16,0
8627,180606-022-0101,0.555556,0.600000,0.690476,0.610940,0.457273,0.714286,16,0
8628,180606-022-0101,0.888889,0.600000,0.571429,0.326068,0.606970,0.714286,16,0
8629,180606-022-0101,0.388889,0.800000,0.690476,0.021282,0.940303,0.571429,16,0
8630,180606-022-0101,0.333333,0.200000,0.380952,0.907521,0.037879,0.714286,16,0

# 3. 최종적으로 csv 파일로 변환

In [46]:
df_refine_z.to_csv('refine_standardization.csv')
df_refine_normal.to_csv('refine_normalization.csv')